{% extends 'base.html' %}

{% block content %}
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="px-4 py-6 sm:px-0">
      <div class="sm:flex sm:justify-between sm:items-center space-y-2 mb-6">
        <h1 class="text-2xl font-semibold text-gray-900">Permissions</h1>
      </div>

      {% include '_components/messages.html' %}

      <div class="bg-white shadow overflow-hidden sm:rounded-md">
        <ul class="divide-y divide-gray-200">
          {% for content_type, count in content_types_with_counts %}
            <li class="hover:bg-gray-50 transition-colors duration-150">
              <div class="px-4 py-4 sm:px-6">
                <div class="flex items-start gap-4">
                  <!-- Permission Icon -->
                  <div class="shrink-0">
                    <span class="inline-flex items-center justify-center h-10 w-10 rounded-full bg-yellow-500">{% include '_icons/lock.html' %}</span>
                  </div>

                  <div class="flex-1 space-y-4 lg:flex lg:flex-row lg:justify-between lg:items-start lg:gap-4 lg:space-y-0">
                    <!-- Content Type Details -->
                    <div class="flex flex-col space-y-2">
                      <!-- Content Type Name -->
                      <div class="">
                        <h3 class="text-lg font-medium text-indigo-600"><a href="{% url 'acl_object_list' content_type.id %}" class="hover:text-indigo-900 hover:underline">{{ content_type.app_label|title }}</a></h3>
                      </div>

                      <!-- Object Count -->
                      <div class="flex flex-wrap items-center gap-y-2 gap-x-4 pb-2">
                        <div class="flex items-center text-sm text-gray-700 gap-1">
                          <span>{{ count }} object{{ count|pluralize }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {% empty %}
            <li class="px-4 py-4 sm:px-6 text-center text-gray-500">No content types found.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
