{% extends 'base.html' %}

{% block content %}
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="px-4 py-6 sm:px-0">
      <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-semibold text-gray-900">Permissions</h1>
      </div>

      {% include '_components/messages.html' %}

      <div class="bg-white shadow overflow-hidden sm:rounded-md">
        <ul class="divide-y divide-gray-200">
          {% for content_type, count in content_types_with_counts %}
            <li class="px-4 py-4 sm:px-6">
              <div class="flex items-center justify-between">
                <h3 class="text-lg font-medium text-indigo-600 truncate"><a href="{% url 'object_list' content_type.id %}" class="hover:text-indigo-900 hover:underline">{{ content_type.app_label|title }}</a></h3>
                <div class="ml-2 flex items-center space-x-2">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">{{ count }}</span>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
