{% extends 'base.html' %}

{% block content %}
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="px-4 py-6 sm:px-0">
      <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-semibold text-gray-900">
          <a href="{% url 'content_type_list' %}" class="hover:text-indigo-900 hover:underline">Permissions</a>
          /
          <a href="{% url 'object_list' content_type.id %}" class="hover:text-indigo-900 hover:underline">{{ content_type.app_label|title }}</a>
          /
          {{ content_type.model|title }}
        </h1>
      </div>

      {% include '_components/messages.html' %}

      <div class="bg-white shadow overflow-hidden sm:rounded-md">
        <div class="px-4 py-5 sm:px-6">
          <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2 sm:gap-x-6">
            <div class="sm:col-span-2">
              <dt class="text-gray-900">{{ object.title }}</dt>
            </div>
            {% for user, permissions in users_with_permissions %}
              <div class="sm:col-span-2">
                <dt class="text-gray-900">{{ user.username }}</dt>
                <dd class="text-gray-900">
                  <!-- list permissions, or none if empty -->
                  {% if permissions %}
                    {{ permissions|join:', ' }}
                  {% else %}
                    None
                  {% endif %}
                </dd>
                <dd class="text-gray-900"><a href="{% url 'user_detail' user.id %}" class="text-indigo-600 hover:text-indigo-900">View user</a></dd>
                <dd class="text-gray-900"><a href="{% url 'object_user_permission_form' content_type.id object.id user.id %}" class="text-indigo-600 hover:text-indigo-900">Edit permissions</a></dd>
              </div>
            {% endfor %}
          </dl>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
