RUN_MODE=local
DEBUG=True
SECRET_KEY=supersecretkey
ALLOWED_HOSTS=*
#Local database
LOCAL_DATABASE_URL=

#Production database
CPANEL_DATABASE_URL=

#SITE ORIENTATION
WEBSITE_ENTITY_TYPE=Community
WEBSITE_ENTITY=Thaumazo

URL_OVERRIDE=metachrysalis.org

#USER REGISTRATION MODE OPTIONS: 
# REGISTRATION_MODE=open      # Anyone can sign up
# REGISTRATION_MODE=approval  # Requires approval
# REGISTRATION_MODE=closed    # No self-registration

REGISTRATION_MODE=closed

GOOGLE_OAUTH_CLIENT_ID=your-id.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=your-secret
GOOGLE_OAUTH_ENCRYPTION_KEY=your-fernet-key

# Google Analytics
GOOGLE_ANALYTICS_ID=

# Nominatim geocoding software. Do not decrease NOMINATIM_MIN_INTERVAL_SECONDS lower than 1.1 for free tier accounts.
NOMINATIM_CONTACT_EMAIL=you@example.org
NOMINATIM_MIN_INTERVAL_SECONDS=1.1 
NOMINATIM_TIMEOUT_SECONDS=10
NOMINATIM_CACHE_TIMEOUT=2592000