{% if messages %}
  <div class="mb-6">
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="rounded-md p-4 mb-4 border border-gray-200 bg-green-50 text-green-600">
          <div class="flex">
            <div class="flex-shrink-0">
              {% include 'svgs/check-circle.html' %}
            </div>
            <div class="ml-3">
              <p class="text-sm font-medium">{{ message }}</p>
            </div>
          </div>
        </div>
      {% elif message.tags == 'info' %}
        <div class="rounded-md p-4 mb-4 border border-gray-200 bg-blue-50 text-blue-600">
          <div class="flex">
            <div class="flex-shrink-0">
              {% include 'svgs/info-circle.html' %}
            </div>
            <div class="ml-3">
              <p class="text-sm font-medium">{{ message }}</p>
            </div>
          </div>
        </div>
      {% elif message.tags == 'error' %}
        <div class="rounded-md p-4 mb-4 border border-gray-200 bg-red-50 text-red-600">
          <div class="flex">
            <div class="flex-shrink-0">
              {% include 'svgs/x-circle.html' %}
            </div>
            <div class="ml-3">
              <p class="text-sm font-medium">{{ message }}</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
